#modules
node_modules/

#cnfig files
config.json

#github stuff
.git/
.github

#db stuff
database.sqlite
json.sqlite

#Work Space
.vscode 

#testing 
test/
dir.test
*.test
*test
Not-A-bot/
comdele.js
