<%- include("includes/header", { bot, user, path, title: "Home" }) %>

<div>
    <div class="jumbotron text-center bg-transparent">
       <br><br><br> <h1 class="display-3">Not A Bot</h1>
        <p class="lead">the best Discord Bot out there with the best commands!!!</p>
        <a class="btn btn-dark text-light" style="font-size: 17px;" href="/invite"><i class="fab fa-discord ml-2"> </i> Add to Discord </a>
        <a class="btn btn-dark text-light" style="font-size: 17px;" href="/">Support Server</a>
    </div>
</div>